header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: cadetblue;
  color: whitesmoke;
}

h1 {
  font-size: 300%;
  border-color: rgb(230, 160, 238);
  border-style: dotted solid;
  border-width: 10px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  list-style-type: none;
}

nav a {
  color: rgb(46, 42, 42);
  font-weight: bold;
  text-decoration: none;
  font-size: 100%;
}

nav a:hover {
  color: whitesmoke;
}

body {
  font-family: 'Gill Sans', sans-serif;
}