body {
  font-family: 'Raleway', sans-serif;
  background-image: url("../../images/bluedoor.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: flex-end;
  font-family: "Raleway", sans-serif;
  padding: 50px, 20px, 10px, 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  list-style-type: none;
  background-color: cadetblue;
  padding: 20px;
}

nav a {
  color: rgb(46, 42, 42);
  font-weight: bold;
  text-decoration: none;
  font-size: 100%;
}

nav a:hover {
  color: whitesmoke;
}

header {
  position: fixed;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 200px 30px 30px;
  gap: 30px;
}

section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

h1 {
  font-size: 200%;
  font-style: bold;
  color: rgb(19, 18, 18);
  padding: 1rem;
  background-color: whitesmoke;
  opacity: 70%;
}

.section-header {
  width: 30%;
  font-size: 36px;
  display: flex;
  border-right: 3px solid gray;
  justify-content: flex-end;
  padding-right: 20px;

}

.section-content {
  text-align: center;
  font-size: 16pt;
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(42, 126, 160, 1) 47%, rgba(35, 128, 145, 1) 89%);
  opacity: 55%;
  background-size: cover;
  font-style: outline;
  margin-right: auto;
  color: white;
  padding: 10px;
  border: 5px solid darkgray;

}

#about {
  margin-left: 75px;
  display: flex;
  align-items: flex-start;
  text-align: center;
}

.pic {
  height: 300px;
  /* width: 100px; */
  display: flex;
  justify-content: flex-start;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 80px;
  margin-right: 150px;
}

section ul {
  list-style-type: none;
}

section a {
  display: flex;
  justify-content: space-around;
  text-align: end;
  list-style-type: none;
  color: white;
  padding: 10px;
}

footer {
  display: flex-end;
  justify-content: center;
  padding: 2%;
  background-color: cadetblue;
  background-size: cover;
  color: whitesmoke;
  margin-top: auto;
  text-align: center;
}


@media screen and (max-width: 992px) {
  header {
    background: cadetblue;
  }
}

@media screen and (max-width: 768px) {
  .section-header .section-content {
    width: 100%;
  }